<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1"
        name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="csrf-token" content="yUICmL9ycs77iZarnyO7iV8jDTmHFp838ohe6eTE">
    <meta name="theme-color" content="#003466">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Công ty TNHH Thiết kế ABC</title>
    <meta name="description" content="Thiết kế tàu cá, đăng kiểm tàu, thiết kế đồ họa, thiết kế tàu, hồ sơ tàu cá.">
    <meta property="og:site_name" content="Công ty TNHH Thiết kế ABC">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://thietkeabc.com/storage/logo-abc-chinh-thuc.jpg">

    <link href="https://thietkeabc.com/storage/logo-abc.png" rel="shortcut icon">




    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Công ty TNHH Thiết kế ABC",
  "url": "https://thietkeabc.com"
}
</script>

    <style>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>
    <link media="all" type="text/css" rel="stylesheet"
        href="https://thietkeabc.com/vendor/core/plugins/language/css/language-public.css?v=2.2.0">
    <link media="all" type="text/css" rel="stylesheet"
        href="https://thietkeabc.com/themes/abc/assets/css/bundle.min.css">
    <link media="all" type="text/css" rel="stylesheet"
        href="https://thietkeabc.com/themes/abc/assets/css/style.min.css">


    <script
        type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[]}</script>

    <link href="https://www.google.com" rel="preconnect">
    <link href="https://www.gstatic.com" rel="preconnect" crossorigin>


    <script>
        window.siteUrl = "https://thietkeabc.com";
    </script>
</head>

<body>
    <header class="header">
        <div class="wraper">
            <div class="mobile-btn"> <a href="javascript:;" id="mobile-btn"><span> </span><span> </span><span>
                    </span></a></div>
            <div class="header-logo"> <a href="https://thietkeabc.com"> <img
                        src="https://thietkeabc.com/storage/logo-abc.png" loading="lazy"
                        alt="Công ty TNHH Thiết kế ABC">
                </a></div>

            <div class="header-menu">
                <nav class="navbar">
                    <ul id="header-menu">
                        <li class="dropdown "><span class="link"><a target="_self" href="https://thietkeabc.com/">Trang
                                    chủ</a></span>
                        </li>
                        <li class="dropdown "><span class="link"><a target="_self"
                                    href="https://thietkeabc.com/gioi-thieu">Giới thiệu</a></span>
                        </li>
                        <li class="dropdown "><span class="link"><a target="_self" href="#">Dịch vụ</a><i
                                    class="fa-solid fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="https://thietkeabc.com/thiet-ke-tau-ca" target="_self">Thiết kế tàu cá</a>
                                </li>
                                <li><a href="https://thietkeabc.com/thiet-ke-phuong-tien-thuy-noi-dia"
                                        target="_self">Thiết kế phương tiện thuỷ nội địa</a></li>
                                <li><a href="https://thietkeabc.com/thiet-ke-do-hoa" target="_self">Thiết kế đồ hoạ</a>
                                </li>
                                <li><a href="https://thietkeabc.com/dao-tao-khoa-hoc" target="_self">Đào tạo khóa
                                        học</a></li>
                                <li><a href="https://thietkeabc.com/nghien-cuu-khoa-hoc" target="_self">Nghiên cứu khoa
                                        học</a></li>
                                <li><a href="https://thietkeabc.com/in-cong-nghiep" target="_self">In công nghiệp</a>
                                </li>
                            </ul>

                        </li>
                        <li class="dropdown "><span class="link"><a target="_self"
                                    href="https://thietkeabc.com/san-pham">Sản phẩm</a></span>
                        </li>
                        <li class="dropdown "><span class="link"><a target="_self"
                                    href="https://thietkeabc.com/bai-viet">Bài viết</a></span>
                        </li>
                        <li class="dropdown "><span class="link"><a target="_self" href="#">Công cụ</a><i
                                    class="fa-solid fa-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li><a href="https://thietkeabc.com/phieu-yeu-cau-thiet-ke" target="_self">Phiếu đặt
                                        hàng thiết kế tàu</a></li>
                                <li><a href="https://thietkeabc.com/chuyen-doi-cong-suat" target="_self">Chuyển đổi công
                                        suất</a></li>
                                <li><a href="https://thietkeabc.com/kiem-tra-he-truc" target="_self">Kiểm tra đường kính
                                        trục chân vịt</a></li>
                                <li><a href="https://thietkeabc.com/tra-cuu" target="_self">Tra cứu dữ liệu máy</a></li>
                                <li><a href="https://thietkeabc.com/tinh-suc-can" target="_self">Tính toán sức cản tàu
                                        cá</a>
                                </li>
                            </ul>

                        </li>
                        <li class="dropdown "><span class="link"><a target="_self"
                                    href="https://thietkeabc.com/contact">Liên hệ</a></span>
                        </li>
                    </ul>
                </nav>


            </div>

            <div class="header-right">
                <div class="header-search"> <a class="open-search" href="javascript:;"><i class="icon-search">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 178.000000 179.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,179.000000) scale(0.100000,-0.100000)" fill="#000000"
                                    stroke="none">
                                    <path
                                        d="M625 1686 c-145 -29 -237 -78 -341 -181 -126 -124 -188 -272 -188                -450 0 -122 14 -184 66 -294 31 -65 57 -100 116 -160 117 -118 225 -171 391                -192 147 -19 311 21 436 106 l62 43 224 -224 c123 -123 232 -227 242 -230 21                -7 57 22 57 45 0 9 -61 77 -136 151 -74 74 -176 179 -226 233 l-91 98 32 44                c69 97 121 256 121 374 0 239 -149 478 -361 579 -46 22 -106 45 -132 51 -79                19 -196 22 -272 7z m248 -102 c93 -24 170 -68 247 -141 222 -209 228 -551 14                -773 -218 -226 -559 -228 -779 -6 -111 112 -165 238 -165 386 0 148 54 274                165 386 73 74 156 123 251 149 68 18 194 18 267 -1z">
                                    </path>
                                </g>
                            </svg></i></a></div>

                <ul class="list-language">
                    <li> <a class="active" href="https://thietkeabc.com/vi/chuyen-doi-cong-suat"><img
                                src="https://thietkeabc.com/vendor/core/core/base/images/flags/vn.svg"
                                title="Tiếng Việt" width="16" alt="Tiếng Việt"></a></li>
                    <li> <a href="https://thietkeabc.com/en/chuyen-doi-cong-suat"><img
                                src="https://thietkeabc.com/vendor/core/core/base/images/flags/us.svg" title="English"
                                width="16" alt="English"></a></li>
                </ul>

            </div>

        </div>
    </header>

    <main>
        <section class="banner-page banner-blog">
            <div class="vuta-container">
                <div class="box-content t-center p-036 mw-70 m-auto">
                    <h2>Tính toán sức cản tàu cá</h2>
                </div>
            </div>
        </section>

        <section class="contact">
            <div class="bottom-contact">
                <div class="vuta-container">
                    <div class="box-content mw-720">
                        <form class="form-calculate" method="POST">
                            <div class="gr-input" style="display: flex; flex-direction: column;">
                                <input class="vuta-input" type="number" step="any" name="L"
                                    placeholder="Chiều dài L (m)" required>
                                <input class="vuta-input" type="number" step="any" name="B"
                                    placeholder="Chiều rộng B (m)" required>
                                <input class="vuta-input" type="number" step="any" name="d"
                                    placeholder="Chiều chìm d (m)" required>
                                <input class="vuta-input" type="number" step="any" name="delta"
                                    placeholder="Hệ số béo δ" required>
                                <input class="vuta-input" type="number" step="any" name="W"
                                    placeholder="Lượng chiếm nước W (tấn)" required>
                                <input class="vuta-input" type="number" step="any" name="V"
                                    placeholder="Thể tích phần chìm V (m³)" required>
                                <select name="method" class="vuta-input" required>
                                    <option value="" disabled selected>Chọn công thức tính diện tích mặt ướt</option>
                                    <option value="vantai">Tàu vận tải</option>
                                    <option value="nhanh">Tàu chạy nhanh</option>
                                    <option value="nho_nhanh">Tàu nhỏ, xuồng chạy nhanh</option>
                                    <option value="muragin">Công thức Muragin</option>
                                    <option value="delta_lon">Tàu có hệ số δ lớn</option>
                                    <option value="karpov">Công thức Karpov (tàu sông)</option>
                                </select>
                            </div>
                            <div class="box-btn" style="display: flex; gap: 10px;">
                                <button class="primary-btn" type="submit">Tính toán</button>
                                <button class="primary-btn" type="reset">Nhập lại</button>
                            </div>
                        </form>
                        {% if chart_html %}
                        <div id="calculate-result" style="margin-top:30px">
                            <h3>Kết quả</h3>
                            <div>{{ chart_html|safe }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-top">
            <div class="vuta-container">
                <div class="vuta-row">
                    <div class="vuta-col-12 vuta-col-md-6 vuta-col-lg-3">
                        <!-- <div class="logo-footer"> <a href="https://thietkeabc.com"> <img
                                    src="/themes/abc/assets/images/logo-abc.png" alt="ABC Desgin"></a></div> -->
                        <div class="logo-footer"> <a href="https://thietkeabc.com"> <img src="{{ url_for('static', filename='themes/logo-abc.png') }}" alt="ABC Desgin"></a></div>
                        <ul class="list-info">
                            <li> <i class="fa-solid fa-location-dot"></i> 03 Trần Lư, Phường Vĩnh Hoà, Thành phố Nha
                                Trang, Tỉnh Khánh Hòa, Việt Nam</li>
                            <li> <i class="fa-solid fa-phone"></i> <a href="tel:0849658865">0849658865 </a></li>
                            <li> <i class="fa-solid fa-envelope"></i><a
                                    href="mailto:congtythietkeabc@gmail.com">congtythietkeabc@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="vuta-col-12 vuta-col-md-6 vuta-col-lg-3">
                        <h3>Giới thiệu</h3>
                        <ul>
                            <li><a href="https://thietkeabc.com/gioi-thieu" target="_self">Câu chuyện của chúng ta</a>
                            </li>
                            <li><a href="https://thietkeabc.com/thiet-ke-tau-ca" target="_self">Thiết kế tàu cá</a></li>
                            <li><a href="https://thietkeabc.com/dao-tao-khoa-hoc" target="_self">Đào tạo</a></li>
                        </ul>

                    </div>
                    <div class="vuta-col-12 vuta-col-md-6 vuta-col-lg-3">
                        <h3>Hỗ trợ </h3>
                        <ul>
                            <li><a href="https://thietkeabc.com/faqs" target="_self">FAQs</a></li>
                            <li><a href="https://thietkeabc.com/contact" target="_self">Liên hệ</a></li>
                        </ul>

                    </div>
                    <div class="vuta-col-12 vuta-col-md-6 vuta-col-lg-3">
                        <h3>Liên hệ chúng tôi </h3>
                        <div class="map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1736.455158468819!2d109.20539468730897!3d12.301645526159964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317069bf11f2c503%3A0xfc712edf78147e42!2zQ8O0bmcgdHkgVE5ISCBUaGnhur90IGvhur8gQUJD!5e0!3m2!1svi!2s!4v1699258295375!5m2!1svi!2s"
                                width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="vuta-container">
                <p>Copyright &copy; <a href="https://thietkeabc.com">Công ty TNHH Thiết kế ABC</a> - All Rights
                    Reserved<span>Powered by <a href="https://vuta.vn/" target="_blank"
                            title="Thiết kế website Nha Trang">VUTA </a></span></p>
            </div>
        </div>
    </footer><a class="back-to-top" href="javascript:;"><i class="fa-solid fa-chevron-up"></i></a>

    <div id="menu-mobile">
        <div class="overlay"></div>

        <div class="wraper-menu-mobile">
            <div class="mobile-logo"><a title="ABC Company" href="https://thietkeabc.com"> <img
                        src="https://thietkeabc.com/storage/logo-abc.png" loading="lazy"
                        alt="Công ty TNHH Thiết kế ABC">
                </a></div>
            </a>
            <span class="close-mobile-menu"><i class="fas fa-times"></i></span>
            <ul class="list-mobile-menu">
                <li class="mobile-dropdown" role="presentation"><span class="mobile-link"><a
                            href="https://thietkeabc.com/">Trang chủ</a></span>
                </li>
                <li class="mobile-dropdown" role="presentation"><span class="mobile-link"><a
                            href="https://thietkeabc.com/gioi-thieu">Giới thiệu</a></span>
                </li>
                <li class="mobile-dropdown" role="presentation"><span class="mobile-link"><a href="#">Dịch vụ</a></span>
                    <ul class="mobile-submenu">
                        <li><a href="https://thietkeabc.com/thiet-ke-tau-ca" target="_self">Thiết kế tàu cá</a></li>
                        <li><a href="https://thietkeabc.com/thiet-ke-phuong-tien-thuy-noi-dia" target="_self">Thiết kế
                                phương tiện thuỷ nội địa</a></li>
                        <li><a href="https://thietkeabc.com/thiet-ke-do-hoa" target="_self">Thiết kế đồ hoạ</a></li>
                        <li><a href="https://thietkeabc.com/dao-tao-khoa-hoc" target="_self">Đào tạo khóa học</a></li>
                        <li><a href="https://thietkeabc.com/nghien-cuu-khoa-hoc" target="_self">Nghiên cứu khoa học</a>
                        </li>
                        <li><a href="https://thietkeabc.com/in-cong-nghiep" target="_self">In công nghiệp</a></li>
                    </ul>

                </li>
                <li class="mobile-dropdown" role="presentation"><span class="mobile-link"><a
                            href="https://thietkeabc.com/san-pham">Sản phẩm</a></span>
                </li>
                <li class="mobile-dropdown" role="presentation"><span class="mobile-link"><a
                            href="https://thietkeabc.com/bai-viet">Bài viết</a></span>
                </li>
                <li class="mobile-dropdown" role="presentation"><span class="mobile-link"><a href="#">Công cụ</a></span>
                    <ul class="mobile-submenu">
                        <li><a href="https://thietkeabc.com/phieu-yeu-cau-thiet-ke" target="_self">Phiếu đặt hàng thiết
                                kế tàu</a></li>
                        <li><a href="https://thietkeabc.com/chuyen-doi-cong-suat" target="_self">Chuyển đổi công
                                suất</a></li>
                        <li><a href="https://thietkeabc.com/kiem-tra-he-truc" target="_self">Kiểm tra đường kính trục
                                chân vịt</a></li>
                        <li><a href="https://thietkeabc.com/tra-cuu" target="_self">Tra cứu dữ liệu máy</a></li>
                        <li><a href="https://thietkeabc.com/tinh-suc-can" target="_self">Tính toán sức cản tàu cá</a></li>
                    </ul>

                </li>
                <li class="mobile-dropdown" role="presentation"><span class="mobile-link"><a
                            href="https://thietkeabc.com/contact">Liên hệ</a></span>
                </li>
            </ul>


        </div>


    </div>
    </div>
    <div id="button-contact-vr">
        <div id="gom-all-in-one">
            <!--
        <div id="mess">
            <a href="https://www.facebook.com/messages/t/vuta.vn" target="_blank" class="pps-btn-img" alt="chat messenger" style="text-decoration: none;" rel="noopener noreferrer nofollow">
                <img src="/themes/abc/assets/images/mess.png" alt="Chat mess">
            </a>
        </div>
        -->
            <div id="zalo-vr">
                <a href="https://zalo.me/0834310781" target="_blank" class="pps-btn-img" alt="Chat zalo"
                    style="text-decoration: none;" rel="noopener noreferrer nofollow">
                   <!-- <img src="/themes/abc/assets/images/zalo.png" alt="Chat zalo">-->
                    <img src="{{ url_for('static', filename='themes/zalo.png') }}" alt="Chat zalo">
                </a>
            </div>
            <div id="phone-vr" class="button-contact">
                <div class="phone-vr">
                    <div class="phone-vr-circle-fill"></div>
                    <div class="phone-vr-img-circle">
                        <a href="tel:0849658865" class="pps-btn-img" alt="Gọi điện thoại"
                            style="text-decoration: none;">
                            <i class="fas fa-phone" style="color: #fff;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search">
        <div class="popup-content"> <span class="close-search">x</span>
            <div class="box-search">
                <form class="form-search" action="https://thietkeabc.com/search">
                    <input type="search" placeholder="Nhập từ khoá ..." name="q" />
                    <button class="search-btn" type="submit">
                        <i class="icon-search">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 178.000000 179.000000" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,179.000000) scale(0.100000,-0.100000)" fill="#000000"
                                    stroke="none">
                                    <path
                                        d="M625 1686 c-145 -29 -237 -78 -341 -181 -126 -124 -188 -272 -188                -450 0 -122 14 -184 66 -294 31 -65 57 -100 116 -160 117 -118 225 -171 391                -192 147 -19 311 21 436 106 l62 43 224 -224 c123 -123 232 -227 242 -230 21                -7 57 22 57 45 0 9 -61 77 -136 151 -74 74 -176 179 -226 233 l-91 98 32 44                c69 97 121 256 121 374 0 239 -149 478 -361 579 -46 22 -106 45 -132 51 -79                19 -196 22 -272 7z m248 -102 c93 -24 170 -68 247 -141 222 -209 228 -551 14                -773 -218 -226 -559 -228 -779 -6 -111 112 -165 238 -165 386 0 148 54 274                165 386 73 74 156 123 251 149 68 18 194 18 267 -1z">
                                    </path>
                                </g>
                            </svg></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://thietkeabc.com/themes/abc/assets/js/bundle.min.js"></script>
    <script src="https://thietkeabc.com/themes/abc/assets/js/script.min.js"></script>
    <script src="https://thietkeabc.com/vendor/core/plugins/language/js/language-public.js?v=2.2.0"></script>
    <script src="https://thietkeabc.com/vendor/core/core/base/js/core.js?v=2.2.0"></script>
    <script src="https://thietkeabc.com/vendor/core/core/base/js/core-public.js?v=2.2.0"></script>
    <script src="https://thietkeabc.com/vendor/core/plugins/analytics/js/analytics.js?v=2.2.0"></script>
    <script src="https://thietkeabc.com/vendor/core/plugins/analytics/js/analytics-public.js?v=2.2.0"></script>

</body>

</html>